
@media (min-width:576px){        
     nav ul {
          display: flex;
          justify-content: space-evenly;         
     }              
    
}
/* Tablets */
@media (min-width:768px){              
        .logo p, .nav_options ul li {
          margin-top: 12px;
     }
}

/* Pc Portatiles */
@media (min-width:992px){
     
     .order-section{
          order:2;          
     }
     .product-info{
       order:1;
     }
} 

/* Pc Grandes */
@media (min-width:1200px){
     
}