/* .carousel-inner {
    width: 100%;
    height: 200px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Helpers */

body {
    font-family: 'Open Sans', sans-serif;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    position: sticky;
    width: auto;
    top:0;
    z-index:2;
}
nav {
    display: flex;
    justify-content: space-between;   
    padding:10px;
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
    align-items: center;
}

nav ul {
    display: flex;   
}
nav li {
    padding-left: 20px;
    margin-right: 10px;
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: black;
}
nav li a:hover {
    color:white;
}



/* -------------------INFO -------------- */
.info {
    border:1px solid;
}
.info h1{
    padding: 20px;
    
}
.info-content {
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}

.info-section {
    width: 50%;
    margin: auto;
}
.info-text {
    width: 50%;
}
.info-text h2 {
    text-align: center;
   
}
.info-text p {
    margin: 20px;
}
.info-section .info-img img {
        width: 100%;
    }
/* -------------------PRODUCTS -------------- */
.products {
    background-color: rgb(226, 202, 202);
    border: 1px solid;
}

.products-content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.products h2 {
    text-align: center;
}
.product-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}
.product-img {
    display: flex;
    padding: 10px;
    width: 40%;
    align-items: center;
}
.product-info {
    padding:10px;
    width: 60%;      
}
.product-info h3 {
    text-align: center;
    padding: 10px;
}
.product-1 img {    
    width: 100%;
    height: 60%;
           
}
.product-img figure {
        display: flex;
        width: 100%;
       justify-content: center;     
}    

/* GALERY IMAGES */
.galery {
    border: 1px solid;
}
.galery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.galery-content img {
    width: 250px;
}
.galery h3 {
    margin: 20px;
    text-align: center;
}
/* VENTAJAS */
.benefits {
    border:1px solid;
    padding:20px;
}
.benefits h2 {
    text-align: center;
}
.benefits-items { 
    margin: 30px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.benefits-card {
    width: 10%;
}
.benefits-card figure {
    display: flex;
    justify-content: center;
}
.benefits-card h3 {
    font-size: 15px;
    text-align: center;
}
/* BOTON WHATSAPP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}
.my-float{
	margin-top:16px;
}

/* FOOTER */
footer {
    border: 1px solid;
    display: flex;
    padding:20px;
    justify-content: space-between;    
}
footer img {
    margin-left: 40%;
}

